<li class="nav-item dropdown user-menu">
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      (click)="toggleDropdownMenu()"
    >
    <span class="hidden-xs" defer>{{userDetails?.userName}}</span>
    </a>
    <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <!-- User image(notice ?) img problem-------->
      <li class="user-header bg-primary">

        <p>
          {{userDetails?.fullName}}
        </p>
      </li>
      <li class="user-footer">
        <a (click)="logout()" class="btn btn-default btn-flat float-right"
          >Sign out</a
        >
      </li>
    </ul>
  </li>
