<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/home/admin/root" (click)="onClick()">Home</a></li>
          <li class="breadcrumb-item active">User Profile</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!----Student View HTML-->
<ng-template #noSupervisor>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">

              <h3 class="profile-username text-center">{{student.fullName | uppercase}}</h3>

              <p class="text-muted text-center">{{student.id}}</p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Username</b> <a class="float-right">{{student.userName}}</a>
                </li>
                <li class="list-group-item">
                  <b>Git ID</b> <a class="float-right">{{student.gitID}}</a>
                </li>
                <li class="list-group-item">
                  <b>Git ID</b> <a class="float-right">{{student.webURL}}</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="float-right">{{student.email}}</a>
                </li>
                <li class="list-group-item">
                  <b>Phone</b> <a class="float-right">{{student.phoneNumber}}</a>
                </li>
                <li class="list-group-item">
                  <b>Member Since</b> <a class="float-right">{{student.createdAt}}</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!----Student View HTML END-->

<!----Supervisor View Html-->
<div class="container" *ngIf="supervisor;else noSupervisor">
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">

            <h3 class="profile-username text-center">{{supervisor.fullName | uppercase}}</h3>

            <p class="text-muted text-center">{{supervisor.id}}</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Username</b> <a class="float-right">{{supervisor.userName}}</a>
              </li>
              <li class="list-group-item">
                <b>Git ID</b> <a class="float-right">{{supervisor.gitID}}</a>
              </li>
              <li class="list-group-item">
                <b>Git ID</b> <a class="float-right">{{supervisor.webURL}}</a>
              </li>
              <li class="list-group-item">
                <b>Email</b> <a class="float-right">{{supervisor.email}}</a>
              </li>
              <li class="list-group-item">
                <b>Phone</b> <a class="float-right">{{supervisor.phoneNumber}}</a>
              </li>
              <li class="list-group-item">
                <b>Member Since</b> <a class="float-right">{{supervisor.createdAt}}</a>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>
<!----Supervisor View Html END-->