<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Manage Students</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Manage Students</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
<section class="content">
    <div class="container-fluid">
        <button class="btn btn-warning mb-3 float-right text-uppercase" (click)="onAddStudent()" ><i class="fa fa-plus"></i> Add Student</button>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" style="width:100%">
          <thead class="text-center thead-dark">
            <tr>
              <th>Username</th>
              <th>Fullname</th>
              <th>Id</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Registration Number</th>
              <th>Father Name</th>
              <th>Address</th>
              <th>Program</th>
              <th>Department</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students"class="text-center">
              <td>{{student.userName}}</td>
              <td>{{student.fullName}}</td>
              <td>{{student.id}}</td>
              <td>{{student.email}}</td>
              <td>{{student.phoneNumber}}</td>
              <td>{{student.registrationNumber}}</td>
              <td>{{student.fatherName}}</td>
              <td>{{student.address}}</td>
              <td>{{student.program}}</td>
              <td>{{student.department}}</td>
              <td>
                <div class="btn-group mt-2" role="group">
                  <button type="button" class="btn btn-success" (click)="onSelect(student)" ><i class="fas fa-list"></i></button>
                  <button type="button" class="btn btn-primary" (click)="onUpdateModal(student)" ><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger" (click)="onDeleteStudent(student)"><i class="fas fa-trash-alt"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
      <!-- ADD MODAL START-->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title">ADD STUDENT</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
        <form [formGroup]="insertForm" (submit)="onSubmit()">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="fullName"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <input type="text" id="fullName" formControlName="fullName" class="form-control" placeholder="fullName" aria-label="fullName" aria-describedby="fullName">
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="UserName"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <input type="text" id="name" formControlName="UserName" class="form-control" placeholder="Username" aria-label="name" aria-describedby="UserName">
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Email"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <input type="text" formControlName="Email" class="form-control" placeholder="Enter a valid Email" aria-label="Email" aria-describedby="Email">
              </div>
            </li>
            <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="PhoneNumber"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="PhoneNumber" class="form-control" placeholder="Enter PhoneNumber" aria-label="PhoneNumber" aria-describedby="PhoneNumber">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="RegistrationNumber"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="RegistrationNumber" class="form-control" placeholder="Enter Registration Number" aria-label="RegistrationNumber" aria-describedby="RegistrationNumber">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="FatherName"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="FatherName" class="form-control" placeholder="Enter Father Name" aria-label="FatherName" aria-describedby="FatherName">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Address"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="Address" class="form-control" placeholder="Enter Address" aria-label="Address" aria-describedby="Address">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Program"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="Program" class="form-control" placeholder="Enter Program" aria-label="Program" aria-describedby="Program">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Department"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="Department" class="form-control" placeholder="Enter Department" aria-label="Department" aria-describedby="Department">
                </div>
              </li>
            <li class="list-group-item">
              <button type="submit" [disabled]="insertForm.invalid"  class="btn btn-primary btn-block">ADD</button>
            </li>
          </ul>

        </form>

      </div>
    </ng-template>
    <!-- ADD MODAL START-->
    <!-- Update MODAL START-->
    <ng-template #editTemplate>
      <div class="modal-header">
        <h4 class="modal-title">Update STUDENT</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
        <form [formGroup]="updateForm" (submit)="onUpdate()">
          <ul class="list-group">
            <li class="list-group-item" >
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="id"><i class="fa fa-key"></i></span>
                </div>
                <input type="text" class="form-control" formControlName="id" />
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="fullName"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <input type="text" id="fullName" formControlName="fullName" class="form-control" placeholder="fullName" aria-label="fullName" aria-describedby="fullName">
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="UserName"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <input type="text" id="_name" formControlName="UserName" class="form-control" placeholder="Username" aria-label="name" aria-describedby="UserName">
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Email"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <input type="text" formControlName="Email" class="form-control" placeholder="Enter a valid Email" aria-label="Email" aria-describedby="Email">
              </div>
              <div class="errorMessage" *ngIf="Email.touched && Email.errors">
                <span *ngIf="Email.hasError('required')">Email is required.</span>
                <span *ngIf="Email.hasError('maxlength')">Only 50 characters allowed for Email.</span>
              </div>
            </li>
            <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="PhoneNumber"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="PhoneNumber" class="form-control" placeholder="Enter PhoneNumber" aria-label="PhoneNumber" aria-describedby="PhoneNumber">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="RegistrationNumber"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="RegistrationNumber" class="form-control" placeholder="Enter Registration Number" aria-label="RegistrationNumber" aria-describedby="RegistrationNumber">
                </div>
                <div class="errorMessage" *ngIf="RegistrationNumber.touched && RegistrationNumber.errors">
                  <span *ngIf="RegistrationNumber.hasError('required')">Registration Number is required.</span>
                  <span *ngIf="RegistrationNumber.hasError('maxlength')">Only 20 characters allowed for Registration Number.</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="FatherName"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="FatherName" class="form-control" placeholder="Enter Father Name" aria-label="FatherName" aria-describedby="FatherName">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Address"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="Address" class="form-control" placeholder="Enter Address" aria-label="Address" aria-describedby="Address">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Program"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="Program" class="form-control" placeholder="Enter Program" aria-label="Program" aria-describedby="Program">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Department"><i class="fa fa-pencil-square-o"></i></span>
                  </div>
                  <input type="text" formControlName="Department" class="form-control" placeholder="Enter Department" aria-label="Department" aria-describedby="Department">
                </div>
              </li>
            <li class="list-group-item">
              <button type="submit" [disabled]="updateForm.invalid"  class="btn btn-primary btn-block">UPDATE</button>
            </li>
          </ul>

        </form>

      </div>
    </ng-template>