.fa-bars {
  cursor: pointer;
}

.nav-item {
  .nav-link {
    cursor: pointer;
  }
}
.main-header{
  background-color:#4F758C;

}
.custom{
  color: white;
margin-left: 500px;
}
.icon{
  color: white;
}
