<section class="content">
    <div class="container-fluid">
        <button class="btn btn-warning mb-3 float-right text-uppercase" (click)="onAddGroup()"><i
                class="fa fa-plus"></i> Add Group</button>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
            style="width:100%">
            <thead class="text-center thead-dark">
                <tr>
                    <th>Group ID</th>
                    <th>Group Name</th>
                    <th>Members</th>
                    <th>Supervisor</th>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of groups" class="text-center">
                    <td>{{group.groupId}}</td>
                    <td>{{group.groupName}}</td>
                    <td></td>
                    <td>{{group.username}}</td>
                    <td>{{group.projectId}}</td>
                    <td>{{group.projectName}}</td>
                    <td>{{group.projectDescription}}</td>
                    <td>
                        <div class="btn-group mt-2" role="group">
                            <button type="button" class="btn btn-success"><i class="fas fa-list"></i></button>
                            <button type="button" class="btn btn-primary" (click)="onUpdateModal(group)"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" (click)="onDelete(group)"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- ADD MODAL START-->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">ADD GROUP</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
        <form [formGroup]="insertForm" (submit)="onSubmit()">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="GroupName"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <input type="text" id="GroupName" formControlName="GroupName" class="form-control"
                            placeholder="GroupName" aria-label="GroupName" aria-describedby="GroupName">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Members"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <div class="abc">
                            <ngx-select-dropdown [config]="config" [options]="studentOptions" formControlName="SelectedStudents"
                            [multiple]="true" ></ngx-select-dropdown>
                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Supervisor"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <div class="abc">
                            <ngx-select-dropdown [config]="config" [options]="supervisorOptions" formControlName="Supervisor"
                            [multiple]="false" ></ngx-select-dropdown>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ProjectName"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <input type="text" formControlName="ProjectName" class="form-control" placeholder="ProjectName"
                            aria-label="ProjectName" aria-describedby="ProjectName">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ProjectDescription"><i
                                    class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <input type="text" formControlName="ProjectDescription" class="form-control"
                            placeholder="ProjectDescription" aria-label="ProjectDescription"
                            aria-describedby="ProjectDescription">
                    </div>
                </li>
                <li class="list-group-item">
                    <button type="submit" [disabled]="insertForm.invalid" class="btn btn-primary btn-block">ADD</button>
                </li>
            </ul>

        </form>

    </div>
</ng-template>
<!-- ADD MODAL START-->
<!-- Update MODAL START-->
<ng-template #editTemplate>
    <div class="modal-header">
        <h4 class="modal-title">Update Group</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
        <form [formGroup]="updateForm" (submit)="onUpdate()">
            <ul class="list-group">
                <li class="list-group-item" >
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="id"><i class="fa fa-key"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="id" />
                    </div>
                  </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="GroupName"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <input type="text" id="GroupName" formControlName="GroupName" class="form-control"
                            placeholder="GroupName" aria-label="GroupName" aria-describedby="GroupName">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Members"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <div class="abc">
                            <ngx-select-dropdown [config]="config" [options]="studentOptions" formControlName="SelectedStudents"
                            [multiple]="true" ></ngx-select-dropdown>
                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Supervisor"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <div class="abc">
                            <ngx-select-dropdown [config]="config" [options]="supervisorOptions" formControlName="Supervisor"
                            [multiple]="false" ></ngx-select-dropdown>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" >
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="ProjectId"><i class="fa fa-key"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="ProjectId" />
                    </div>
                  </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ProjectName"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <input type="text" formControlName="ProjectName" class="form-control" placeholder="ProjectName"
                            aria-label="ProjectName" aria-describedby="ProjectName">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ProjectDescription"><i
                                    class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <input type="text" formControlName="ProjectDescription" class="form-control"
                            placeholder="ProjectDescription" aria-label="ProjectDescription"
                            aria-describedby="ProjectDescription">
                    </div>
                </li>
                <li class="list-group-item">
                    <button type="submit" [disabled]="insertForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
                </li>
            </ul>

        </form>

    </div>
</ng-template>